/* Basic Layout */
body {
	margin: 0;
}
#page {
  min-width: 900px;
}
div { 
  float: left;
}
#header, #nav{
  width: 100%;
}
#functional {
	width: 33%;
}
#logo {
	width: 66%;
}
#feedback, #follow {
  width: 50%;
}
#location, #sidebar {
  width: 25%;
}
#menu, #main, #breadcrumbs, #footer {
	width: 70%;
}

/* Colors */
body {
	background: #f5e49D;
}
a {
  color: #4B0B2F;
}
a:hover {
	text-decoration: underline;
}
#logo h1 a {
  color: #852223;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  color: #3C3932;
}
#menu, #menu li ul {
	background: #7D124E;
}
#menu a:link, #menu a:visited {
  color: #FFF;
  text-decoration: none;
}
#menu a:hover {
	background-color:#4B0B2F;
}
#how #menu li.how a:link {color:#D7C162;}
#find #menu li.find a:link {color:#D7C162;}
#youth #menu li.youth a:link {color:#D7C162;}
#city #menu li.city a:link {color:#D7C162;}
#about #menu li.about a:link {color:#D7C162;}
#how #menu li.how a:visited {color:#D7C162;}
#find #menu li.find a:visited {color:#D7C162;}
#youth #menu li.youth a:visited {color:#D7C162;}
#city #menu li.city a:visited {color:#D7C162;}
#about #menu li.about a:visited {color:#D7C162;}

#main, #news, #events, #content img {
	background-color: #FFF;
	border: 1px solid #52615D;
}
#logo img {
  border:none;
}
#sidebar h2 {
	background: #EADF59;
}
/* Typography */
body {
	font: normal 13px/18px Helvetica, Arial, sans-serif;
}
h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}
#sidebar h2, #sidebar h3 {
  font-weight: normal;
}
h1 { 
	text-transform: uppercase; 
	font-weight: normal;
	font-size: 24px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-size: 13px;
}
h5 {
	font-size: 11px;
	text-transform: uppercase;
}
p {
	margin-top: 0;
}
#menu a, #functional a, #footer p a {
	font-size: 14px;
	font-weight: bold;
}
/* Logo Layout */
#logo h1 { 
	margin: 0;
	padding-left: .3em; 
	font-size: 20px;
}
/* Functional Links Layout */
#functional p, #functional form {
	display: inline;
}
#functional {
	padding: 2.3em 0 2.3em 0;
}
#functional form {
	padding-left: 1em;
}
/* Location and Navigation Layout */
#location, #menu {
	text-align: center;
}
#nav, #menu {
	margin-top: 1.384em;
}
#menu ul li{
	display: inline ; 
}
#menu ul {
	margin: 0; 
	padding: 0; 
}
#menu a {
	display: block;
	float: left;
	padding: 1em;
}
/* Breadcrumbs Layout */
#breadcrumbs ul {
	margin: 0;
	padding: 0.5em 0 0.5em 0; 
}
#breadcrumbs li {
	list-style-type: none;
	display: inline;
}
/* Sidebar Layout */
#sidebar h2 {
	margin: 0;
	padding: 0.5em;
	text-align: center;
}
#sidebar ul {
	margin: 0; 
	padding: 0 1em 0 1em;
}
#sidebar ul li ul {
	padding-left: 0;
}
#sidebar li {
	list-style-type: none;
	margin: 0;
}
#sidebar li h4, #sidebar li p {
	margin: 0;
}
#sidebar li h4 {
	margin-top: 1em;
}
#sidebar li p.time, #sidebar li.last {
	margin-bottom: 1em;
}
p.time {
	font-style: italic;
}
#events, #news {
	margin: 0 2em 2em 2em;
	width: 80%;
}
/* Main Content Layout */
#content {
	padding: 0 2em 2em 2em;
}
#content img {
	margin: 0 2em 2em 2em;
}
.right {
	float: right;
}

/* Footer Layout */
#footer h2 {
	margin-bottom: 1em;
}
#footer {
	text-align: center;
}
#footer a {
	padding-left: 1.5em;
}
#footer p {
	margin: 0;
}
#facebook a {
	background: url("../images/facebook_16.png") no-repeat top left;
}
#twitter a {
	background: url("../images/twitter_16.png") no-repeat top left;
}
#flickr a {
	background: url("../images/flickr_16.png") no-repeat top left;
}
